@page "/"
@inject IJSRuntime _js

<PageTitle>Index</PageTitle>

<h1>Hello, world</h1>

Welcome to your new app.!

<SurveyPrompt Title="How is Blazor working for you?" />

@*@code {

   

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var jsoref = await _js.InvokeAsync<IJSInProcessObjectReference>("import", "./js/discuss.js");
            await jsoref.InvokeVoidAsync("discussFunction");
        }
    }



}*@