@page "/books/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject IShowMessages showMessages


<h3>Create</h3>
@if (@MostrarForm != false)
{
    <BooksForm OnValidSubmit="CreateBook" Book="Book" GendersNotSelected="GendersNotSelected"/>
    
}
else
{
    <text>Cargando..</text>

}


@code {
    private bool MostrarForm { get; set; } = false;
    private Book Book = new Book();
    private List<Gender> GendersNotSelected = new List<Gender>();

    protected async override Task OnInitializedAsync()
    {
        //GendersNotSelected = new List<Gender>()
        //    {
        //        new Gender(){ Id = 1, Name = "Accion" },
        //        new Gender(){ Id = 2, Name = "Hentai" },
        //        new Gender(){ Id = 3, Name = "Terror" },
        //        new Gender(){ Id = 4, Name = "Sci-Fi" }
        //    };

        var responseHttp = await repository.Get<List<Gender>>("api/genders");
        GendersNotSelected = responseHttp.Response;

        StateHasChanged();
        MostrarForm = true;

    }

    private async Task CreateBook()
    {
        var httpResponse = await repository.Post<Book, int>("api/books", Book);

        if (httpResponse.Error)
        {
            var body = await httpResponse.GetBody();
            await showMessages.ShowErrorMessage(body);
        }
        else
        {
            var bookId = httpResponse.Response;
            navigationManager.NavigateTo($"books/{bookId}/{Book?.Name?.Replace(" ", "-")}");
        }

    }

  

}
