@page "/books/{Id:int}"
@page "/books/{Id:int}/{BookName}"
@inject IRepository repository
@inject NavigationManager navigateManager
@inject IShowMessages showMessages


@if (model == null)
{
    <p>Cargando..</p>
}
else
{
    <h2>@model.Book.Name</h2>
    <div>
        <img src="@model.Book.Cover" width="250"/>
    </div>
    <div class="col-md-6">
        <br/>
        <a href="/chapter/create" class="btn btn-success">Agregar Capitulo</a>
        <br/>
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">14</span>
            Cras justo odio
          </li>
        </ul>
    </div>
}

@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public string BookName { get; set; }
    private VisualiseBookDTO model;

    protected async override Task OnInitializedAsync()
    {
        var responseHttp = await repository.Get<VisualiseBookDTO>($"api/books/{Id}");

        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigateManager.NavigateTo("");
            }
            else
            {
                var ErrorMensaje = await responseHttp.GetBody();
                await showMessages.ShowErrorMessage(ErrorMensaje);
            }
        }
        else
        {
            model = responseHttp.Response;
        }

    }

}
