@page "/books"
@inject IRepository repository

<h3>ListBooks</h3>

<div class="form-group">
    <a class="btn btn-success" href="books/create">Agregar Libro</a>
</div>

@if (Books == null)
{
    <p>Cargando......</p>
}
else
{
<div class="card-deck d-flex flex-row">
    @foreach (var book in Books)
    {
        <IndividualBook Book="book" />
    }
</div>
    }

@code {

    public List<Book> Books {get; set; }
    protected async override Task OnInitializedAsync()
    {
        var reponseHttp = await repository.Get<List<Book>>("api/books");
        Books = reponseHttp.Response; 
    }
}
