@page "/books"
@inject IRepository repository
@inject IShowMessages showMessages

<h3>Listado de Comics</h3>

<div class="form-group">
    <MudFab Color="Color.Surface" StartIcon="@Icons.Material.Filled.Add" Href="books/create" Label="Agregar Comic" />
</div>


    <ListBooks Books="Books"/>

    <Pagination ActualPage="ActualPage" PageSelected="PageSelected"
        MaxPages="MaxPages"></Pagination>
    

@code {
    private int ActualPage = 1;
    private int MaxPages;
    public List<Book> Books {get; set; }

    protected async override Task OnInitializedAsync()
    {
        await LoadBooks();
    }

    private async Task PageSelected(int page)
    {
        ActualPage = page;
        await LoadBooks(page);
        StateHasChanged();
    }

    private async Task LoadBooks(int page = 2)
    {
        var responseHttp = await repository.Get<List<Book>>($"api/books?pagination={page}");
        if (!responseHttp.Error)
        {
            Books = responseHttp.Response;
            var count = responseHttp.HttpResponseMessage.Headers.GetValues("countRecord").FirstOrDefault();
            MaxPages = int.Parse(responseHttp.HttpResponseMessage.Headers.GetValues("TotalRecords").FirstOrDefault());
        }
    }


   
}
