@*@page "/"*@
@page "/books"
@inject IRepository repository

<h3>ListBooks</h3>

<div class="form-group">
    <a class="btn btn-success" href="books/create">Agregar Libro</a>
</div>

<div>
    <ListBooks Books="Books"/>
</div>

@code {

    public List<Book> Books {get; set; }

    protected async override Task OnInitializedAsync()
    {
        var reponseHttp = await repository.Get<List<Book>>("api/books");
        Books = reponseHttp.Response; 
    }
}
