<EditForm Model="Book" OnSubmit="OnValidSubmit">
    <div class="col-md-5">
    <div class="form-group col-md-5">
        <label>Titulo:</label>
        <div>
            <InputText class=form-control @bind-Value=@Book.Name></InputText>
        </div>
    </div>
    <div class="form-group col-md-5">
        <label>Type:</label>
        <div>
            @*<input class="form-control" @bind-value="@Book.TypeofBook"></input>*@
            <InputSelect class="form-control" @bind-Value="@Book.TypeofBook">
                @foreach (var types in Enum.GetValues(typeof(BoBookTypes)))
               {
                   <option value="@types">@types</option>
               }
            </InputSelect>
        </div>
    </div>
    <div class="form-control col-md-5">
        <InputImages Label="Cover" ImageSelected="ImageSelected" ImageTemp="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png" />
    </div>
    <div class="form-group col-md-5">
        <label>Editorial:</label>
        <div>
            <InputText class=form-control @bind-Value=@Book.Editorial></InputText>
        </div>
    </div>

    <button class="btn btn-success" type="submit">Submit</button>
    </div>
</EditForm>


@code {
    [Parameter] public Book Book { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    private string ImageTemp;

    protected override void OnInitialized()
    {
        if (!string.IsNullOrWhiteSpace(Book.Cover))
        {
            ImageTemp = Book.Cover;
            Book.Cover = null;  
        }
    }
  private void ImageSelected(string ImageBase64)
    {
        Book.Cover = ImageBase64;
    }

}
