@inject IJSRuntime _js
@inject NavigationManager _navigationManager
<div @ref="@disqusElement">
    <div id="disqus_thread"></div>
</div>

@code {
    private ElementReference disqusElement;
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //await _js.InvokeAsync<IJSObjectReference>("reset", url, identifierId);

            var jsobjt = await _js.InvokeAsync<IJSInProcessObjectReference>("import","./js/disqus.js" );
            await jsobjt.InvokeAsync<IJSInProcessObjectReference>("DisqusFunction", disqusElement);
        }
    }
}
