@inject IJSRuntime _js
@inject NavigationManager _navigationManager

<div id="disqus_thread"></div>

@code {
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _js.InvokeAsync<IJSObjectReference>("import","./js/disqus.js" );
        }
    }
}
