@inherits LayoutComponentBase

<MudThemeProvider/>
<MudSnackbarProvider />
<MudDialogProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
            
        </article>
         
        <footer class="card-footer px-4">
            <center><p>&copy; 2021 - @DateTime.Now.Year  LectorUniversal <br />Creado por <b>AcarioG</b></p></center>
        </footer>
    </main>
     
       
</div>
