<MudText Typo="Typo.h3">Comics Actualizados</MudText>

<div class="d-flex flex-wrap">
    <div class="d-flex flex-wrap  align-content-center flex-grow-1 col-6 col-sm-6 col-md-6 col-lg-9">
        <GenericList Lists="Books">
            <RecordFound Context="book">
                <Books NewBooks="book" />
            </RecordFound>
        </GenericList>
    </div>
    <div class="col-lg-2">
        <div class="flex-row" style="height:350px;">
            <iframe src="https://discord.com/widget?id=1003578252050317362&theme=dark" width="280" height="320" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
         </div>
    </div>
</div>


@code {
    [Parameter] public List<Book> Books { get; set; }
}
