@page "/chapters/viewer/{Id:int}"
@inject IRepository repository
@inject IShowMessages showMessage
@inject IJSRuntime _js
@inject NavigationManager navigationManager




@if (@MostrarForm != false)
{
    
    <MudContainer  Class="d-flex flex-column col-12 col-sm-12 col-lg-9">
        <div class="d-inline-flex flex-row text-black justify-content-center">
            <MudText Typo="Typo.h4">@model.Book.Name | @model.Chapters.Select(x => x.Title).FirstOrDefault()</MudText>
</div>
        <MudStack Spacing="1" class="justify-content-center" style="margin-left:20px;" >
        @foreach (var item in ChapterPages)
        {
            <MudImage Src="@item.ImageUrl"  />
        }
        </MudStack>

        <Pagination ></Pagination>
    <DisqusComments/>
    </MudContainer>
     
}else
{
    <text>no hay registros</text>
}

@code {
    [Parameter] public int Id { get; set; }
    VisualiseBookDTO? model;
    List<Pages>? ChapterPages;
    private bool MostrarForm { get; set; } = false;

    protected async override Task OnInitializedAsync()
    {
        var responseHttp = await repository.Get<VisualiseBookDTO>($"api/chapters/viewer/{Id}", includeToken:false);

        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("books");
            }
            else
            {
                await showMessage.ShowErrorMessage(await responseHttp.GetBody());
            }
        }
        else
        {
            model = responseHttp.Response;
            ChapterPages = model.Pages;
            StateHasChanged();
            MostrarForm = true;
        }
    }
}
