@page "/chapters/viewer/{Id:int}"
@inject IRepository repository
@inject IShowMessages showMessage
@inject NavigationManager navigationManager


<div>
    <h3>@model.Book.Name</h3> | <h3>@model.Chapters.Select(x => x.Title).FirstOrDefault()</h3> 
</div>

@if (@MostrarForm != false)
{
    <MudStack Spacing="1" Justify="Justify.Center" Style="margin-left:290px; margin-bottom:100px;" >
        @foreach (var item in ChapterPages)
        {
            <MudImage Src="@item.ImageUrl" Height="1000" Width="700" />
        }
    </MudStack>
}else
{
    <text>no hay registros</text>
}

@code {
    [Parameter] public int Id { get; set; }
    VisualiseBookDTO model;
    List<Pages> ChapterPages;
    private bool MostrarForm { get; set; } = false;

    protected async override Task OnInitializedAsync()
    {
        var responseHttp = await repository.Get<VisualiseBookDTO>($"api/chapters/viewer/{Id}", includeToken:false);

        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("books");
            }
            else
            {
                await showMessage.ShowErrorMessage(await responseHttp.GetBody());
            }
        }
        else
        {
            model = responseHttp.Response;
            ChapterPages = model.Pages;
            StateHasChanged();
            MostrarForm = true;
        }
    }
}
